## 1. Pandas DF to JSON File

In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('cars.csv')

In [3]:
df.head()

    id    make  year   model  license  mileage
0  "4"     BMW  2003      X6  XYZ-123    18566
1  "5"  TOYOTA  2014  CAMERY  XYZ-124    11831
2  "6"   HONDA  2007  ACCORD  XYZ-125    28077
3  "7"   VOLVO  2008      V1  XYZ-126    11556
4  "8"     BMW  2007      X3  XYZ-127    21305

In [4]:
print(dict(df.iloc[0]))

{'id': '"4"', 'make': 'BMW', 'year': 2003, 'model': 'X6', 'license': 'XYZ-123', 'mileage': 18566}

In [5]:
with open('cars.json', 'w') as file:
    for i in range(df.shape[0]):
        file.write((df.iloc[i]).to_json() + '\n')

In [6]:
df.iloc[0].to_json()

'{"id":"\\"4\\"","make":"BMW","year":2003,"model":"X6","license":"XYZ-123","mileage":18566}'

In [7]:
print("hello world")

hello world